<!DOCTYPE html>
<html>

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Projects - Ivan Garagulya</title>

	<link rel="stylesheet" href="{{url_for('static',filename='assets/projects.css')}}">
	<link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@600&display=swap" rel="stylesheet">

</head>

<body>
<header class="header-login-signup">

	<div class="header-limiter">

		<h1><a href="/">Ivan Garagulya</a></h1>

		<nav>
			<a href="/">My Story</a>
			<a href="/projects">Projects</a>
			<a href="/contact/">Contact</a>
		</nav>


	</div>

</header>

<!-- The content of your page would go here. -->
<!--
<header class="Proj">

	<div class="headlim">
		<h1>My Projects</h1>
	</div>
	<div class="Box1">
	<h4>Project 1</h4>
		<iframe width="350" height="200" src="https://www.youtube.com/embed/nQSOFI-8NTw" allow="autoplay;
		encrypted-media" allowfullscreen></iframe>
	<div class="down">
	<a href="https://github.com/igaragulya/ContactStorage/archive/master.zip" target="_blank"><p>Download Link</p></a>
	</div>
	</div>
	<div class="Box2">
	<h4>Project 2</h4>
		<iframe width="350" height="200" src="https://www.youtube.com/embed/JuHCIyTx6nw" allow="autoplay;
		encrypted-media" allowfullscreen></iframe>
	<div class="down">
	<a href="https://github.com/igaragulya/WeatherApp/archive/master.zip" target="_blank"><p>Download Link</p></a>
	</div>
-->

<div class="header">
	<h1>My Projects</h1>
  </div>
  
  <div class="boxes">
	<div class="column1" style="background-color:#0883e0;">
		<h4>Project 1</h4>
		<div class="frame">
			<iframe width="350" height="200" src="https://www.youtube.com/embed/nQSOFI-8NTw" allow="autoplay;
				encrypted-media" allowfullscreen></iframe>
				<div class="download">
					<a href="https://github.com/igaragulya/ContactStorage/archive/master.zip" target="_blank"><p>Download Link</p></a>
					<a href="https://github.com/igaragulya/ContactStorage" target="_blank"><p>Source Code</p></a>
				</div>
		</div>

	<div class="column2" style="background-color:#0883e0">
	<h4>Project 2</h4>
	<div class = "frame">
		<iframe width="350" height="200" src="https://www.youtube.com/embed/JuHCIyTx6nw" allow="autoplay;
		encrypted-media" allowfullscreen></iframe>
			<div class="download">
				<a href="https://github.com/igaragulya/WeatherApp/archive/master.zip" target="_blank"><p>Download Link</p></a>
				<a href="https://github.com/igaragulya/WeatherApp" target="_blank"><p>Source Code</p></a>
			</div>

	</div>
	</div>

</header>



	



<!-- Demo ads. Please ignore and remove. -->

</body>

</html>